<% if user_signed_in? %>
  <%if @work.cliped_by?(current_user) %>
  <%= button_to work_clip_works_path(work_id: @work.id), method: :delete, remote: true do %>
    <div class="col-12 py-2 bg-light text-center col-md-12">
    このアーティストはクリップ済み！</a>
    <i class="fa fa-paperclip" aria-hidden="true" style="color: red;"></i>
    </div>
    <% end %>
  <% else %>
  <%= button_to work_clip_works_path(@work), method: :post, remote: true do %>
  <div class="col-12 py-2 bg-light text-center col-md-12">
    このアーティストをクリップする！</a>
    <i class="fa fa-paperclip" aria-hidden="true" ></i>
  </div>
  <% end %>
<% end %>
<% end %>