<% if user_signed_in? %>
  <%if @exhibition.cliped_by?(current_user) %>
  <%= button_to exhibition_clip_exhibitions_path(exhibition_id: @exhibition.id), method: :delete, remote: true do %>
    <div class="col-12 py-2 bg-light text-center col-md-12">
    この写真展はクリップ済み！</a>
    <i class="fa fa-paperclip" aria-hidden="true" style="color: red;"></i>
    </div>
    <% end %>
  <% else %>
  <%= button_to exhibition_clip_exhibitions_path(@exhibition), method: :post, remote: true do %>
  <div class="col-12 py-2 bg-light text-center col-md-12">
    この写真展をクリップする！</a>
    <i class="fa fa-paperclip" aria-hidden="true" ></i>
  </div>
  <% end %>
<% end %>
<% end %>