<% if @exhibition.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
    <ul>
        <% @exhibition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render 'layouts/public/sidebar' %>
      <div class="flex-colum d-flex col-lg-8">
        <div class="col-lg-12 mx-4">
         <h1 class="mb-4">展覧会編集</h1>
        　　<%= render 'public/exhibitions/form' %>
          <%= link_to "全て削除する", exhibitions_path(@exhibition.id), data: { confirm: "削除しますか?" }, method: :delete, class: "btn btn-danger my-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>