<% if @address.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <ul>
    <% @address.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render 'layouts/public/sidebar' %>
      <div class="flex-colum d-flex col-lg-8">
        <div class="col-lg-12 mx-4">
         <h1 class="mb-4">個人情報編集</h1>
         <h5>※項目は全て必須です</h5>
         <%= render 'public/addresses/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>