<div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
              <h1>
              <%= link_to "Artists", artists_path, class: " text-dark" %>
              </h1><br>
        </div>
      </div>
      <div class="row">
      	<% @artists.each do |a| %>
          <% if a.is_deleted == false %>
      	<div class="col-md-3 col-6 p-1">
      		<%= link_to artist_path(a.id) do %>
      		<div class="card">
            <div class="imgg">
              <%= attachment_image_tag a.user, :image, format: 'jpg',
              class: "center-block img-fluid imgg imggg", fallback: "/assets/no_image_m.png" %>
            </div>
      			<div class="card-body">
      				<h6 class="card-title text-left"><%= a.name %>
                <% if user_signed_in? && a.cliped_by?(current_user) %>
                <i class="fa fa-paperclip" aria-hidden="true" style="color: red;"></i>
                <% else %>
                <i class="fa fa-paperclip" aria-hidden="true" ></i>
                <% end %>
              </h6>
            </a>
          </div>
      	  </div>
        </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>