<div class="container">
    <form class="form-inline col-8 offset-2 justify-content-center my-5 bg-light">
      <span class="">キーワード</span>
      <div class="form-group m-2">
        <input type="password" class="form-control" id="passwd" placeholder=""> </div>
      <button type="button" class="col-2 btn btn-primary">検索 ≫</button>
      <select class="form-control input-sm ml-auto" id="pref">
        <option>新着順</option>
        <option>アルファベット順</option>
        <option>五十音順</option>
      </select>
    </form>
  </div>
  <%= render 'public/artists/artists' %>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            <li class="page-item">
              <a class="page-link">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>