<footer>
  <div class="text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-4"> <i class="fa fa-5x mb-5 fa-diamond"></i>
          <h3 class="mb-4">Photogallery</h3>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">お問い合わせ</a>
            <br>
            <a href="#" class="text-white">購入方法</a>
            <br>
            <a href="#" class="text-white">アーティスト登録方法</a>
          </ul>
        </div>
        <div class="p-5 col-md-4">
          <h3 class="mb-4 mt-5">Content</h3>
          <ul class="list-unstyled">
            <a href="#" class="text-white">作品一覧</a>
            <br>
            <a href="#" class="text-white">アーティスト一覧</a>
            <br>
            <a href="#" class="text-white">展覧会情報</a>
          </ul>
        </div>
        <div class="p-5 col-md-4">
          <h3 class="mt-5">Get in touch</h3>
          <form class="my-4">
            <fieldset class="form-group"> <label for="exampleInputEmail1">Get monthly updates</label>
              <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-light">Submit</button>
          </form>
          <h3>Social</h3>
          <div class="align-self-center col-12 my-4">
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook d-inline fa-lg text-white"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter d-inline mx-2 fa-lg text-white"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram d-inline fa-lg text-white"></i></a>
            <a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus-official d-inline mx-2 fa-lg text-white"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2018 Photogallery - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>