<div class="row my-3 justify-content-center">
	<div class=" col-lg-5 col-12">
		<%= render 'public/orders/confirm' %>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-12 col-lg-7 my-2">
		<%= render 'public/orders/cart2' %>
	</div>
</div>