<div class="py-5 bg-info">
	<div class="container">
		<div class="row justify-content-center">
			<div class="align-self-center col-md-6 text-white text-center">
				<h1 class="text-center display-4">退会のお手続き</h1>
				<p class="lead">退会ボタンを押すとお手続きが完了します。</p>
				<%= link_to users_soft_delete_path, method: :patch do %>
				<button class="btn btn-danger">退会</button>
				<% end %>
			</div>
			
		</div>
	</div>
</div>